<meta property="og:title" content="{{ .Params.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}/" />
<meta property="og:image" content="{{if .Params.banner }}{{ .Site.BaseURL }}{{ .Params.Banner }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.logo }}{{ end }}" />
<meta property="fb:app_id"          content="312450288897871" />
<meta property="og:description"     content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.DefaultDescription }}{{ end }}" />
<meta property="og:site_name"       content="{{ .Site.Title }}">
{{ if .IsPage }}
    <meta property="og:updated_time" content="{{ .Date }}"/>
{{ end }}
{{ if eq .Type "tutorial" }}
    <meta property="og:type"                content="video" />
    <meta property="og:video:url"           content="https://www.youtube.com/embed/{{if .Params.youtube }}{{ .Params.youtube }}{{ end }}" />
    <meta property="og:video:secure-url"    content="https://www.youtube.com/embed/{{if .Params.youtube }}{{ .Params.youtube }}{{ end }}" />
    <meta property="og:video:type"          content="video/mp4" />
    <meta property="og:video:width"         content="1280" />
    <meta property="og:video:height"        content="720" />
{{ else }}
    <meta property="og:type"            content="article" />
{{ end }}