<meta property="og:title" content="{{ .Params.title }}" />
<meta property="og:url" content="{{ .Permalink }}/" />
<meta property="og:image" content="{{if .Params.banner }}{{ .Site.BaseURL }}{{ .Params.Banner }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.logo }}{{ end }}" />
<meta property="og:description"     content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.DefaultDescription }}{{ end }}" />
<meta property="og:site_name"       content="{{ .Site.Title }}">
{{ if .IsPage }}
    <meta property="og:updated_time" content="{{ .Date }}"/>
{{ end }}
{{ if eq .Type "tutorial" }}
    <meta property="og:type"                content="video" />
    {{if .Params.youtube }}
        <meta property="og:video:url"           content="https://www.youtube.com/embed/{{ .Params.youtube }}" />
        <meta property="og:video:secure_url"    content="https://www.youtube.com/embed/{{ .Params.youtube }}" />

        <meta property="al:ios:app_store_id" content="544007664">
        <meta property="al:ios:app_name" content="YouTube">
        <meta property="al:ios:url" content="vnd.youtube://{{ .Params.youtube }}&amp;feature=applinks">

        <meta property="al:android:url" content="vnd.youtube://{{ .Params.youtube }}&amp;feature=applinks">
        <meta property="al:android:app_name" content="YouTube">
        <meta property="al:android:package" content="com.google.android.youtube">
        <meta property="al:web:url" content="{{ .Params.youtube }}&amp;feature=applinks">
    {{ end }}
    <meta property="og:video:type"          content="video/mp4" />
    <meta property="og:video:width"         content="1280" />
    <meta property="og:video:height"        content="720" />
{{ else }}
    <meta property="og:type"            content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
{{ end }}
<meta property="fb:app_id"          content="312450288897871" />

