<section class=" no-mb">
    <div class="container">
        <div class="row">
            <div class="">
                <p class="">
                    {{ .Site.Params.clients.subtitle }}
                </p>
                <ul class="owl-carousel customers">
                    {{ range .Site.Data.clients }}
                    <li class="item" title="{{ .name }}">
                        {{ if .url }}
                        <a href="{{ .url }}" target="_blank" rel="noopener">
                            <img src="{{ .Site.BaseURL}}img/placeholder.png" data-src="{{ .image }}" alt="{{ .name }}" class="img-responsive lazyload" />
                        </a>
                        {{ else }}
                        <img src="{{ .Site.BaseURL}}img/placeholder.png" data-src="{{ .image }}" alt="{{ .name }}" class="img-responsive lazyload" />
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>